@charset "UTF-8";

@font-face {
    font-family: 'jersey10';
    src: url('../fonts/jersey10.ttf') format('TrueType');
    font-style: normal;
}

@font-face {
    font-family: 'press-start';
    src: url('../fonts/press-start2p.ttf') format('TrueType');
    font-style: normal;
}

:root {
    --main-color: #fffffff6;
    --transparent-color: #b9b9b90c;
    --darker-transparent: #0000002d;
    --black: #080808;
    --grey: #1d1d1d;
    --highlight-color: #02e6d3b9;
    --highlight-transparent: #03ffea3b;
    --text-shadow: 1px 1px 4px #00000031;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

button {
    width: 16em;
    padding: 1em;
    font-family: 'press-start';
    font-size: .5em;
    box-shadow: 1px 1px 8px 0px var(--highlight-color);
    background-color: var(--grey);
    color: var(--main-color);
    border: none;
    border-radius: 5px;
}

button:hover {
    transform: scale(0.95);
    transition: .2s transform;
}

button, a {
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 99.9vw;
    height: 99.9vh;
    font-family: 'jersey10';
    text-shadow: var(--text-shadow);
    color: var(--main-color);
    background-color: black;
    background-repeat: no-repeat;
    overflow: hidden;
}

.celestial-bodies {
    position: absolute;
    display: grid;
    grid-auto-columns: 8rem;
    grid-auto-rows: 5rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .5rem;
    background-color: var(--transparent-color);
}

/* Media Queries Gerais */

@media (min-width: 1440px) {
    .celestial-bodies {
        grid-auto-columns: 10rem;
        grid-auto-rows: 7rem;
    }
    
}

@media (min-width: 1780px) {
    .celestial-bodies {
        grid-auto-columns: 11.3rem;
        grid-auto-rows: 8.3rem;
    }
       
    .celestial-body {
        width: 6.5rem;
    }  
    
    .star {
        width: 2rem;
    }
}


@media (min-width: 1980px) {
    .celestial-bodies {
        grid-auto-columns: 13rem;
        grid-auto-rows: 10rem;
    }
       
    .celestial-body {
        width: 7rem;
    }  
    
    .star {
        width: 2.5rem;
    }
}

@media (min-width: 2450px) {
    .celestial-bodies {
        grid-auto-columns: 15rem;
        grid-auto-rows: 12rem;
    }
       
    .celestial-body {
        width: 10rem;
    }  
    
    .star {
        width: 3rem;
    }
}

@media (max-width: 991.98px) { 
    .celestial-bodies {
        grid-auto-columns: 5rem;
        grid-auto-rows: 5rem;
    }
       
    .celestial-body {
        width: 5rem;
    }  
    
    .star {
        width: 1.6rem;
    }
}  

@media (max-width: 767.98px) { 
    .celestial-bodies {
        grid-auto-columns: 4rem;
        grid-auto-rows: 4rem;
    }
       
    .celestial-body {
        width: 4rem;
    }  
    
    .star {
        width: 1.6rem;
    }
} 

@media (max-width: 430.98px) { 
    .celestial-bodies {
        grid-auto-columns: 3rem;
        grid-auto-rows: 3rem;
    }
       
    .celestial-body {
        width: 3rem;
    }  
    
    .star {
        width: 1.5rem;
    }
}