@keyframes fall {
    0% {
        transform: translate(0vw, 0vh) rotate(25deg);
    }

    100% {
        transform: translate(600px, 300px) rotate(25deg);
        opacity: 0;
    }
}

.meteor-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1000;
}

.meteor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient(90deg, transparent, #ffffff48, #ffffffb2, white);
    filter: drop-shadow(-8px 0px 0px rgba(255, 255, 255, 0.13));
    box-shadow: 14px 0px 5px 3px #ffffff17;
    transform: rotate(40deg);
    will-change: transform;
    animation: fall 0.5s linear forwards;
}