@media (min-width: 1440px) {
    main {
        font-size: 18px;
    }   
}

@media (min-width: 1780px) {
    main {
        font-size: 22px;
    }

    h1.typing {
        top: -8rem; 
    }
}


@media (min-width: 1980px) {
    main {
        font-size: 26px;
    }

    h1.typing {
        top: -11rem; 
    }
}

@media (min-width: 2450px) {
    main {
        font-size: 30px;
    }

    h1.typing {
        top: -13rem; 
    }
}


@media (max-width: 991.98px) { 
    main {
        font-size: 15px;
    } 
}

@media (max-width: 767.98px) {
    main {
        font-size: 14px;
    }
}

@media (max-width: 430.98px) { 
    main {
        width: 85%;
        font-size: 12px;
    }

    section.menu {
        width: 100%;
    }
}
