body {
    background-image: url('../../assets/background5.jpg');
    background-position: bottom center;
    background-size: cover;
}

/* Corpos celestes */

.celestial-body:nth-child(1) {
    grid-row: 3;
    grid-column: 3;
    width: 5em;
}

.celestial-body:nth-child(2) {
    grid-row: 1;
    grid-column: 1;
}

.celestial-body:nth-child(3) {
    grid-row: 6;
    grid-column: 2;
    transform: rotate(10deg);
}

.celestial-body:nth-child(4) {
    grid-row: 7;
    grid-column: 4;
    transform: rotate(20deg);
    opacity: 0.7;
}

.celestial-body:nth-child(5) {
    grid-row: 2;
    grid-column: 8;
}

.celestial-body:nth-child(6) {
    grid-row: 6;
    grid-column: 10;
}

.celestial-body:nth-child(7) {
    grid-row: 5;
    grid-column: 9;
    transform: rotate(-20deg);
    opacity: 0.5;
}

.celestial-body:nth-child(8) {
    grid-row: 3;
    grid-column: 11;
    transform: rotate(10deg);
    opacity: 0.7;
}

.celestial-body:nth-child(9) {
    grid-row: 1;
    grid-column: 5;
    margin-top: 2rem;
    transform: rotate(-20deg);
    opacity: 0.5;
}

/*  */

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    
}

h1.typing {
    position: absolute;
    top: -7rem;
    font-size: 5em;
}

section.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 26em; 
    height: 14em;
    box-shadow: 3px 1px 5px 1px #0000003f;
    background-color: var(--transparent-color);
    border-radius: 10px;
    border: 2px solid var(--black);
}

section.menu div {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    padding: .7rem;
    font-family: 'press-start';
    font-size: .7em;
    background-color: var(--darker-transparent);
    border-bottom: 1.5px solid var(--main-color);
}

/* Classes dinâmicas */

.caret::after {
    position: absolute;
    top: 10px;
    display: inline-block;
    content: '';
    width: 0.2rem;
    height: 90%;
    background-color: var(--main-color);
    margin-left: 0.1rem;
}

.switch-opacity {
    opacity: 0;
}

